body {
    font-size: 16px;
    color: #071013;
    background: #F9F5EC;
    padding-bottom: 75px;
}

a {
    color: #071013;
}

a:hover {
    color: #071013;
}

.banner h1, h2, h3, h4, h5, h6, p{
    font-weight: 200 !important;
}


.footer {
    font-size: 1.0em;
    white-space: nowrap;
    color: #326273;
}

.navbar-light .navbar-nav .nav-link {
    color: #326273;
    font-size: 1.25em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #5C9EAD;
}

a.footer-social-button:hover {
    color: transparent;
}

.border-md-right {
    border-right: 1px solid #326273;
}

.carousel-badge {
    position: absolute;
    bottom: 192px;
    left: 10%;
}

.carousel-badge .btn {
    position: absolute;
    border-radius: 0;
    border: none;
    white-space: nowrap;
    font-size: 1.25em;
    font-weight: 200;
}

.association-name-badge {
    background: #EEEEEE;
}

.find-more-badge {
    margin-top: 3.5rem;
    background: #F5DC10;
}

.body-hr {
    border-width: 1px;
    border-style: solid;
    border-color: #A2AEBB;
}

.img-banner {
    position: relative;
    z-index: 2;
}

.img-banner-background {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.card-img-overlay {
    z-index: 2;
}

/*.img-banner {
    background-image: url('../imgs/banners/spring.png');
    background-size: contain;
    background-position: right;
}*/


#mainNavbar {
    white-space: nowrap;
}

@media (max-width: 770px) {
    .card-img-overlay {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .card-title {
        margin-bottom: .25rem;
    }
    h2.card-title {
        width: 55%;
        font-size: 1rem;
    }
    h3.card-title {
        width: 55%;
        margin-bottom: 1px;
        font-size: 0.75rem;
    }
    .card-text {
        width: 55%;
        margin-top: 1px;
        font-size: 0.5rem;
    }
}

@media (min-width: 770px) and (max-width: 990px) {
    .border-md-right {
        border-right: none !important;
    }
    h2.card-title {
        width: 55%;
        font-size: 1.5rem;
    }
    h3.card-title {
        width: 55%;
        font-size: 1.0rem;
        margin-bottom: 1px;
    }
    .card-text {
        width: 55%;
        font-size: 0.75rem;
        margin-top: 1px;
    }
}

@media (max-width: 1024px) {
    .carousel-badge {
        bottom: 90px;
    }
    .find-more-badge {
        margin-top: 2.5rem;
    }
    .carousel-badge .btn {
        font-size: 0.75em;
    }

}
